@using Ecommerce.WebApp.Areas.Admin.ProductModel
@model IEnumerable<ProductEditModel>
@{
    var productId = ViewBag.productID;
    var isNewUser = productId == 0;

    if (isNewUser)
    {
        ViewBag.Title = "Add user";
    }
    else
    {
        ViewBag.Title = "Edit user";
    }
    ViewBag.MenuItem = "Users";
}
@section scripts {

    <script src="@Url.Content("~/Admin/assets/notifications.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/admin/Assets/Product/ProductEdit.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Admin/assets/alert.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/admin/Assets/Product/previewimage.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var baseUrl = "@Url.Content("~/")";
        productedit.load("@productId", @(isNewUser ? 1 : 0));
    </script>
    <script>
        function openCustomRoxy2() {
            $('#roxyCustomPanel2').dialog({ modal: true, width: 875, height: 600 });
        }
        function closeCustomRoxy2() {
            $('#roxyCustomPanel2').dialog('close');
        }

    </script>
    <script>
        function deletePreview(ele, i) {
            "use strict";
            try {
                $(ele).parent().remove();
                window.filesToUpload.splice(i, 1);
            } catch (e) {
                console.log(e.message);
            }
        }
        $('#mydiv').click(function (e) {
            var inputtext = $('#mydiv').children("input").attr("id");
            window.open(' /lib/fileman/index.html?integration=custom&type=image&txtFieldId=' + inputtext, '_blank', 'width=300,height=400');
            return false;
        });


        function preview_images() {
            var total_file = document.getElementById("files").files.length;
            for (var i = 0; i < total_file; i++) {
                $('#image_preview').append("<div class='col-md-3'><img class='img-responsive' src='" + URL.createObjectURL(event.target.files[i]) + "' style='height: 200px;width: 150px'><span class='delete fa fa-trash' onClick='deletePreview(this, " + i + ")'>Remove</span></div> ");
            }
        }
    </script>


}
<div id="previewimage"></div>

@*<div id="mydiv">
        Click
        <input type="text" id="txtSelectedFile1" style="border:1px solid #ccc">
    </div>*@

<form id="usereditForm" class="form validate" novalidate>
    <div id="productedit">

        <div class="top">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Settings</li>
                    <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("List")">Products</a></li>
                    <li v-if="!loading" class="breadcrumb-item active" aria-current="page"><span v-if="isNew">Add</span><span v-else>Edit</span></li>





                </ol>
            </nav>

            <div class="container-fluid app" :class="{ ready: !loading }">
                <div class="top-nav">

                    @*<button type="submit" class="btn btn-labeled btn-success pull-right" v-on:click.prevent="save()">
                            <i class="fas fa-save"></i>
                            <span class="btn-label">
                                <i class="fas fa-check"></i>
                            </span>
                            <span v-if="isNew">Add</span><span v-else>Save</span>
                        </button>*@


                    <button data-toggle="modal" data-target="#pageSettings" class="btn btn-primary btn-icon"><i class="fas fa-cog"></i></button> <!---->
                    <div role="group" class="btn-group d-none d-lg-inline-flex">
                        <button type="submit" class="btn btn-primary btn-labeled" v-on:click.prevent="save()">
                            <i class="fas fa-save"></i>
                            Save
                        </button> <!---->
                    </div>
                    <button title="Save" class="btn btn-primary btn-icon d-inline-block d-lg-none"><i class="fas fa-save"></i></button>
                    <div role="group" class="btn-group d-none d-lg-inline-flex">
                        <button type="button" class="btn btn-success btn-labeled">
                            <i class="fas fa-check"></i>
                            Publish
                        </button> <!---->
                    </div>
                    <button title="Publish" class="btn btn-success btn-icon d-inline-block d-lg-none"><i class="fas fa-check"></i></button> <!---->
                    <button v-if="!isNew && productModel" title="Radera" class="btn btn-danger btn-icon" v-on:click.prevent="remove(productModel.product.id)"><i class="fas fa-trash"></i></button>

                </div>
            </div>
        </div>
        <div id="pageSettings" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title"><i class="fas fa-cog"></i> Settings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="productModel" class="container-fluid app" :class="{ ready: !loading }">
            <div class="card">
                <div class="card-header">
                    <span class="title">General information</span>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Title</label>
                        <input v-model="productModel.product.name" class="form-control small" maxlength="128" required />
                        <div class="invalid-feedback">
                            Title required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="">Image</label>
                        <br />

                        <input id="files" name="files" type="file" class="form-control" style="visibility:unset;" onchange="preview_images()" multiple />
                        <div class="row" id="image_preview"></div>

                        @*<input type="text" v-model="productModel.productImage.imagePath" class="btn btn-primary" id="txtSelectedFile" value="Add image" onclick="openCustomRoxy2()">
                            <div id="roxyCustomPanel2" style="display: none;">
                                <iframe src="/lib/fileman/index.html?integration=custom&type=image&txtFieldId=txtSelectedFile" style="width:100%;height:100%; border:1px solid #ccc" frameborder="0">
                                </iframe>
                            </div>*@
                    </div>

                    <tinymce v-model="productModel.product.detail"
                             :plugins="myPlugins" :toolbar1="myToolbar1" :toolbar2="myToolbar2"
                             :other="myOtherOptions">
                    </tinymce>


                    <div class="card">
                        <div class="card-header">
                            <span class="title">Product</span>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Price</label>
                                            <input v-model="productModel.product.price" class="form-control small" maxlength="128" required />
                                            <div class="invalid-feedback">
                                                required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>PromotionPrice</label>
                                            <input v-model="productModel.product.promotionPrice" class="form-control small" maxlength="128" required />
                                            <div class="invalid-feedback">
                                                required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Quantity</label>
                                            <input v-model="productModel.product.quantity" class="form-control small" maxlength="128" required />
                                            <div class="invalid-feedback">
                                                required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <span class="title">Product Category</span>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <select class="form-control" :required="true" v-model="productModel.product.categoryID">
                            <option value="0">Select category </option>
                            <option v-for="option in getProductRows()"
                                    v-bind:value="option.id"
                                    :selected="option == 'Select category'">
                                {{ option.name }}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            required
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
