@using Ecommerce.WebApp.Areas.Admin.ViewModel
@model IEnumerable<ProductViewModel>
@{
    
    ViewBag.Title = "Users";
    ViewBag.MenuItem = "Users";

    var userIsDelete = Context.Request.Query["d"] == "1";
}


@section scripts{
    <script src="@Url.Content("~/Admin/assets/notifications.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/admin/Assets/Product/Productlist.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Admin/assets/alert.js")" type="text/javascript"></script>

    <script type="text/javascript">
       var baseUrl = "@Url.Content("~/")";
        userlist.currentUserName = "@User.Identity.Name";
        userlist.load();
        @if (userIsDelete) {
            <text>
            notifications.push({
                body: "The user has been deleted.",
                type: "success",
                hide: true
            });
            </text>
        }
    </script>
}
<div id="alert" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" :class="{ 'modal-sm': !verifyPhrase }" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
            </div>
            <div class="modal-body text-center">
                <p v-html="body"></p>
                <div v-if="verifyPhrase" class="alert alert-danger w-100">
                    <p v-html="verifyText"></p>
                    <div class="form-group">
                        <input v-model="verifyInput" type="text" class="form-control" :placeholder="verifyPlaceholder">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click.prevent="cancel()">
                    <i v-if="cancelIcon" :class="cancelIcon"></i>{{ cancelText }}
                </button>
                <button type="button" class="btn btn-labeled" :class="confirmCss" :disabled="!canConfirm()" v-on:click.prevent="confirm()">
                    <i v-if="confirmIcon" :class="confirmIcon"></i>{{ confirmText }}
                </button>
            </div>
        </div>
    </div>
</div>

<script>
</script>
<div id="productlist">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Settings</li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </nav>

        <div class="container-fluid app" :class="{ ready: !loading }">
            <div class="top-nav">

                <a href="@Url.Action("Edit")" class="btn btn-primary btn-labeled">
                    <i class="fa fa-plus"></i>Add
                </a>

            </div>
        </div>
    </div>

    <div class="container-fluid app" :class="{ ready: !loading }">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Category Name</th>
                    <th class="text-center">Status</th>
                    <th class="actions one">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="product in products">
                    <td class="text-center">
                        <img v-if="product.gravatarUrl" :src="product.gravatarUrl" :alt="'Gravatar for ' + product.name" style="padding-right: 10px">
                        {{ product.id }}
                    </td>
                    <td class="text-center">
                        <a :href="'/admin/product/' + product.id">{{ product.name }}</a></td>
                    <td class="text-center">
                        <img src=""/>
                        
                    </td>
                    <td class="text-center">
                        {{ product.categoryName }}
                    </td>
                    <td class="text-center">
                        {{ product.status }}
                    </td>
                    <td class="actions one">
                        <a class="danger" v-on:click.prevent="remove(product)" v-if="product.name != currentUserName">
                            <span class="fa fa-trash"></span>

                        </a>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
